<%= form_tag({:controller => :rolify, :action => :role_to_user}, :method => :put) do %>
<b>Ajouter ou supprimer un rôle </b>
	<div class="field">
		<%= select_tag :role_name,options_from_collection_for_select(Role.all,"name","name") %>
		<%= select_tag :user_id,options_from_collection_for_select(User.all,"id","email") %>
	</div>
	<%= submit_tag "Ajouter", name: 'add_button' %>
	<%= submit_tag "Supprimer", name: 'remove_button' %>
<% end %>
