<%- model_class = Newspaper -%>
<% @newspapers.each do |newspaper| %>
  <div class="bubble-news">
    <a class="bubble-title" href="<%= newspaper_path(newspaper)%>"><%= newspaper.title %></a>
    <span class="time"><%= newspaper.created_at %></span>
    <p><%= newspaper.description %>
      <span class="readMore">Lire la suite</span></p>
      <div class="coma"></div>
  </div>
<% end %>

<%= instance_variable_get(:@titleRss) %>
<% @result.items.each do |item| %>  
  <div class="bubble-news">
    <a class="bubble-title" href="<%= item.link %>" target="_blank"><%= item.title %></a>
    <span class="time"><%= item.pubDate %></span>
    <p></p>
  </div>
  <div class="coma"></div>
<% end %>

<% if $client != nil %>
  <% @retrieveTweetFromAccountUCPCergy.each do |tweet| %>
    <div class="bubble-news">
    <div class="bubble-title" target="_blank"><%= tweet.user.screen_name %></div>
    <span class="time"><%= tweet.created_at %></span>
    <p><%= tweet.text %></p> 
    <div class="coma"></div>
  </div>
  <% end %>

  <% @retrieveTweetFromAccountRPUCP.each do |tweet| %>
    <div class="bubble-news">
    <div class="bubble-title" target="_blank"><%= tweet.user.screen_name %></div>
    <span class="time"><%= tweet.created_at %></span>
    <p><%= tweet.text %></p>
    <div class="coma"></div>
  </div>
  <% end %>


  <% @retrieveTweetFromAccountUCPAssoLide.each do |tweet| %>
    <div class="bubble-news">
    <div class="bubble-title" target="_blank"><%= tweet.user.screen_name %></div>
    <span class="time"><%= tweet.created_at %></span>
    <p><%= tweet.text %></p>
    <div class="coma"></div>
  </div>
  <% end %>

<% end %>