<%- model_class = Newspaper -%>
<% @newspapers.each do |newspaper| %>
  <div class="bubble-news">
    <a class="bubble-title" href="<%= newspaper_path(newspaper)%>"><%= newspaper.title %></a>
    <span class="time"><%= newspaper.created_at %></span>
    <p>
      <% if newspaper.description.length > 150 %>
      <% text = newspaper.description[0..150]+"..." %>
      <%= text %>
      <a href="<%= newspaper_path(newspaper)%>" class="readMore">Lire la suite</a>
      <% else %>
      <%= newspaper.description %>
      <% end %>
      </p>
  </div>
  <div class="coma"></div>
<% end %>



<%= instance_variable_get(:@titleRss) %>
<% @result.items.each do |item| %>  
  <div class="bubble-news">
    <a class="bubble-title" href="<%= item.link %>" target="_blank"><%= item.title %></a>
    <span class="time"><%= item.pubDate %></span>
    <p></p>
  </div>
  <div class="coma"></div>
<% end %>

<% if $client != nil %>
  <% @retrieveTweetFromAccountUCPCergy.each do |tweet| %>
    <div class="bubble-news">
    <div class="bubble-title" target="_blank"><%= tweet.user.screen_name %></div>
    <span class="time"><%= tweet.created_at %></span>
    <p><%= tweet.text %></p> 
  </div>
      <div class="coma"></div>
  <% end %>

  <% @retrieveTweetFromAccountRPUCP.each do |tweet| %>
    <div class="bubble-news">
    <div class="bubble-title" target="_blank"><%= tweet.user.screen_name %></div>
    <span class="time"><%= tweet.created_at %></span>
    <p><%= tweet.text %></p>
  </div>
  <div class="coma"></div>
  <% end %>


  <% @retrieveTweetFromAccountUCPAssoLide.each do |tweet| %>
    <div class="bubble-news">
    <div class="bubble-title" target="_blank"><%= tweet.user.screen_name %></div>
    <span class="time"><%= tweet.created_at %></span>
    <p><%= tweet.text %></p>
  </div>
      <div class="coma"></div>

  <% end %>

<% end %>