<%- model_class = Newspaper -%>
<% @newspapers.each do |newspaper| %>
  <div class="bubble-news">
    <a class="bubble-title" href="<%= newspaper_path(newspaper)%>"><%= newspaper.title %></a>
    <span class="time"><%= newspaper.created_at %></span>
    <p><%= newspaper.description %>
      <span class="readMore">Lire la suite</span></p>
  </div>
<% end %>


<%= instance_variable_get(:@titleRss) %>
<% @result.items.each do |item| %>  
  <div class="bubble-news">
    <a class="bubble-title" href="<%= item.link %>" target="_blank"><%= item.title %></a>
    <span class="time"><%= item.pubDate %></span>
    <p><%=  %></p>
  </div>
<% end %>

<% if $client != nil %>
  <% @retrieveTweetFromAccountUCPCergy.each do |tweet| %>
    <%= tweet.user.screen_name %>
    <%= tweet.text %>
    <%= tweet.created_at %>
    <br />
    <br />
  <% end %>

  <% @retrieveTweetFromAccountRPUCP.each do |tweet| %>
    <%= tweet.user.screen_name %>
    <%= tweet.text %>
    <%= tweet.created_at %>
    <br />
    <br />
  <% end %>

  <% @retrieveTweetFromAccountUCPAssoLide.each do |tweet| %>
    <%= tweet.user.screen_name %>
    <%= tweet.text %>
    <%= tweet.created_at %>
    <br />
    <br />
  <% end %>
<% end %>

<% @result.items.each do |item| %>
  <%= item.title %>
  <%= item.link %>
  <%= item.pubDate %>
  <br />
  <br />
<% end %>

