<%- model_class = Newspaper -%>
<div class='une'><h1>A la une</h1></div>
 <% if can? :create, @newspaper %>
    <%= link_to t('Créer un article', :default => t("Créer un article")), new_newspaper_path, :class => 'btn btn-primary' %>
  <% end %>
<% @newspapers.each do |newspaper| %>
  <div class="bubble-news <%= newspaper.id_categories %>">
    <a class="bubble-title" href="<%= newspaper_path(newspaper)%>"><%= newspaper.title %></a>
    <span class="time"><%= newspaper.created_at.to_time.strftime('%d/%m/%y à %H:%M') %></span>
    <br>
    <p>
      <% if newspaper.description.length > 150 %>
      <% text = newspaper.description[0..150]+"..." %>
      <%= text %>
      <a href="<%= newspaper_path(newspaper)%>" class="readMore">Lire la suite</a>
      <% else %>
      <%= newspaper.description %>
      <% end %>
      </p>
      <% if can? :update, @newspaper %>
        <%= link_to t('Editer', :default => t("Editer")),edit_newspaper_path(newspaper), :class => 'btn btn-default btn-xs' %>
      <% end %>
      <% if can? :delete, @newspaper %>
        <%= link_to t('Supprimer', :default => t("Supprimer")),newspaper_path(newspaper),:method => :delete,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes vous sûr ?')) },:class => 'btn btn-xs btn-danger' %>
      <% end %>
  </div>
  <div class="coma-news"></div>
<% end %>

<div class='une'><h1>Derniers tweets</h1></div>
<% if $client != nil %>
  <% @retrieveTweetFromAccountUCPCergy.each do |tweet| %>
    <div class="bubble-twitter">
      <div class="bubble-title">@<%= tweet.user.screen_name %></div>
      <span class="time"><%= tweet.created_at.to_time.strftime('%d/%m/%y à %H:%M') %></span>
      <br><p><%= tweet.text %></p>
    </div>
    <div class="coma-twitter"></div>
  <% end %>

  <% @retrieveTweetFromAccountRPUCP.each do |tweet| %>
    <div class="bubble-twitter">
      <div class="bubble-title">@<%= tweet.user.screen_name %></div>
      <span class="time"><%= tweet.created_at.to_time.strftime('%d/%m/%y à %H:%M') %></span>
      <br><p><%= tweet.text %></p>
    </div>
    <div class="coma-twitter"></div>
  <% end %>


  <% @retrieveTweetFromAccountUCPAssoLide.each do |tweet| %>
    <div class="bubble-twitter">
      <div class="bubble-title">@<%= tweet.user.screen_name %></div>
      <span class="time"><%= tweet.created_at.to_time.strftime('%d/%m/%y à %H:%M') %></span>
      <br><p><%= tweet.text %></p>
    </div>
    <div class="coma-twitter"></div>
  <% end %>

  <div class='une'><h1>Les derniers flux RSS</h1></div>
<%= instance_variable_get(:@titleRss) %>
<% @result.items.each do |item| %>  
  <div class="bubble-rss">
    <a class="bubble-title" href="<%= item.link %>" target="_blank"><%= item.title %></a>
    <span class="time"><%= item.pubDate.to_time.strftime('%d/%m/%y à %H:%M') %></span>
    <br><p></p>
    <div class="coma-rss"></div>
  </div>
  
<% end %>


<% end %>